_CPack_Packages
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.gcov
patches/
.git-ignore/
.pc/
coverity/
coverage/
coverage.info
*.o
*.reject
*.orig
*.rej
*.so
*~
*.swp*
.gitignore.gdb_history
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Testing/
./build
/build
.idea/
/Makefile
./Makefile
*.src.rpm
*.i386.rpm
*.x86_64.rpm
tags
*.cdbs-config_list
parts/
prime/
stage/
*.snap
ftp.log
sftp.log
ftpscript.txt
sftpscript.txt
*.md5sum
extra/deploy_key
compile_commands.json
jepsen-tests-prefix
.terraform
terraform.tfstate
terraform.tfstate.backup
.DS_Store
*.log
runner.lua
*.snap
*.xlog
.cmake/
*.exe
*.dart_tool
_deps
